<div class="container">
  <nz-card style="text-align: center">
    <form>
      <nz-input-group
        style="width: 80%"
        class="searchBar"
        nzSearch
        nzSize="large"
        [nzAddOnAfter]="suffixButton"
      >
        <input
          type="text"
          nz-input
          [(ngModel)]="searchTerm"
          [ngModelOptions]="{ standalone: true }"
          placeholder="搜索需求"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nzSearch
          (click)="search()"
        >
          搜索
        </button>
      </ng-template>
    </form>
  </nz-card>

  <nz-card>
    <div nz-flex nzWrap="wrap">
      @for (demand of demands; track demand) {
      <app-demand-card
        style="flex: 0 1 50%; padding: 7px; box-sizing: border-box"
        [demand]="demand"
        [readOnly]="readOnly"
      ></app-demand-card>
      }@empty {
      <nz-empty nzNotFoundContent="暂无需求" style="margin: auto"></nz-empty>
      }
    </div>
    <nz-pagination
      [nzHideOnSinglePage]="true"
      [(nzPageIndex)]="pageIndex"
      nzPageSize="12"
      [nzTotal]="demandCount"
      (nzPageIndexChange)="getDemands()"
    ></nz-pagination>
  </nz-card>
</div>
